{{outlet}}
<div class="col-sm-12 about">
  <p>
    I’m a lover of code, movies, sports, and the outdoors.  I believe that the small details are what make good things great. I love to learn.  The struggle is always worth the reward.  I’ve done projects using Ruby, Rails, Javascript, AJAX, PHP, Ember.js, and React.  I enjoy working with others and have experience using git flow with teams.  I love working in full-stack development and enjoy each portion of work.
  </p>

  <p>
    I began my love of code in college when I took a class in Visual basic for my information systems minor.  It was one of the first times I really enjoyed what I was learning.  I felt great gratification building things, it felt tangible.  Later during my professional career as a Supervisor at GEICO I developed a surcharge calculator via excel and VBA.  Again I felt a great satisfaction building things.  From there I began coding nightly learning Ruby, Rails, JavaScript, HTML/CSS, JQuery on my own.  Upon hearing about coding bootcamps I quickly became excited for the opportunity to be professionally trained.  After 3 months of coding 60+ hours a week in an immersive environment I love code more then ever.  I continue to learn and work to become better every day.
  </p>

  <p>
    I am currently available for <a href="mailto:steve21168@gmail.com">hire</a>.
  </p>

</div>
