{{outlet}}

<div class="col-md-12 contact">
  <p>
    Email me at: <a href="mailto:steve21168@gmail.com">steve21168@gmail.com</a>
  </p>

  <p>
    Github: <a href="http://github.com/steve21168">http://github.com/steve21168</a>
  </p>

  <p>
    Linkedin: <a href="https://www.linkedin.com/in/steven-goodstein">https://www.linkedin.com/in/steven-goodstein</a>
  </p>
</div>
