{{outlet}}

<div class="col-md-12 work">
  <div class="list">
    <a target="_blank" href="https://goodstein-blog.herokuapp.com/">
      <h1>Goodstein Blog</h1>
    </a>

    <h3>My newest project built as part of a code challenge</h3>

    Features:
    <ul>
      <li>Fully featured CMS system</li>
      <li>Image uploading via paperclip gem and stores to Amazon s3</li>
      <li>Post Pagination</li>
      <li>Devise Authorization</li>
      <li>Built with Rails, AJAX, JQuery</li>
    </ul>

    <div class="image-snippet">
      <img src="assets/images/blog.png" alt="blog" />
    </div>
  </div>
{{!-- Project 2 --}}
  <div class="list">
    <a target="_blank" href="http://elevate-life.herokuapp.com/">
      <h1>Elevate</h1>
    </a>
    <h3>Beautiful and inspiring application to help you track your goals</h3>

    Features:
    <ul>
      <li>Single page goals application</li>
      <li>Built with Ember.js, and Rails application serving as an API </li>
      <li>JWT authentication system</li>
    </ul>

    <div class="image-snippet">
      <img src="assets/images/elevate-1.png" alt="blog" />
    </div>
  </div>
{{!-- Project 3 --}}
  <div class="list">
    <a target="_blank" href="http://getsome-lunch.herokuapp.com/">
      <h1>Get-Some Lunch</h1>
    </a>
    <h3>Makes group ordering simple and easy</h3>

    Features:
    <ul>
      <li>Allows users of the same organizations to join others orders within their group</li>
      <li>Utilizes action cable to to give live chat in order and live updating of order contents</li>
      <li>Email notifications when admin submits the order and when the food has arrived</li>
      <li>Core technologies: Rails, JQuery, AJAX</li>
    </ul>

    <div class="image-snippet">
      <img src="assets/images/get-some.png" alt="blog" />
    </div>
  </div>
  {{!-- Project 4 --}}
  <div class="list">
    <a target="_blank" href="http://sport-hub.herokuapp.com/">
      <h1>Sport Hub</h1>
    </a>
    <h3>All your favorite sports news in one place</h3>

    Features:
    <ul>
      <li>Collects sports headlines and links from ESPN, Yahoo, and CBS</li>
      <li>Live updates headlines every 10 minutes</li>
      <li>Scrapes from up to 134 enpoints</li>
      <li>Boxscores included from prior days games</li>
    </ul>

    <div class="image-snippet">
      <img src="assets/images/sport-hub.png" alt="blog" />
    </div>
  </div>
  {{!-- Project 5 --}}
  <div class="list">
    <a target="_blank" href="https://selus-front-end.herokuapp.com/">
      <h1>Front End Demonstration</h1>
    </a>
    <h3>Built based on photoshop mockup</h3>

    Features:
    <ul>
      <li>Large single page scrolling application</li>
      <li>Fully responsive</li>
      <li>Using only Boostrap and custom CSS</li>
    </ul>

    <div class="image-snippet">
      <img src="assets/images/selus.png" alt="blog" />
    </div>
  </div>
  {{!-- Project 6 --}}
  <div class="list">
    <a style="pointer-events: none">
      <h1>PHP Project</h1>
    </a>
    {{!-- <h3>AWS API</h3> --}}

    Features:
    <ul>
      <li>Application searches AWS API returns results and gives ability to add to DB and referesh DB contents</li>
      <li>Utilizes Amazon Web services API</li>
      <li>Application handles all actions via AJAX (no page reloads)</li>
    </ul>

    <div class="image-snippet">
      <img src="assets/images/amazon.png" alt="blog" />
    </div>
  </div>

</div>
